/*Section background color*/
$secbg: #f4fbfe;
$enroll: #f1f1f1;

/*text color*/
$textprim: #2ca4ab;
$textsecon: #0f394c;
$colorgrey: #aaaaaa;

/*button hover and background*/
$btnbg: #2ca4ab;
$btnhov: #1b696e;

/*bg color height*/
$bgsecon: #0f394c;
$bgprim: #2ca4ab;

/*white color background and text*/
$textWhite: white;
$bgWhite: white;
