@import "../../../sass/variables.scss";

.sc_container {
  padding: 100px 15px 0px 15px;
  width: 1140px;
  max-width: 100%;
  margin: auto;

  .imgthumb {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  h1 {
    font-size: 2.5rem;
  }

  .entry-content {
    padding-top: 70px;
  }

  .Enroll {
    background-color: $enroll;
    .lms_title {
      background-color: $bgprim;
      display: flex;
      text-align: center;
      padding: 10px;
      font-weight: 700;
      color: $textWhite;
      display: block;
    }

    .lms_price {
      display: block;
      text-align: center;
      font-weight: 700;
      padding-top: 10px;
    }
    .lms_btn {
      padding: 30px 0px;
      display: flex;
      justify-content: center;
      button {
        padding: 0.375rem 0.75rem;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: $btnbg !important;
        border-color: $btnbg !important;
        color: white;
        border-radius: 5px;
        &:hover {
          background-color: $btnhov !important;
          border-color: $btnhov !important;
        }
      }
    }
  }

  .meta-title {
    font-size: 1.75rem;
    margin-top: 20px;
  }
  .instrc_container {
    background-color: $enroll;
    border-top: 4px solid $textsecon;
    margin: 45px 0px 0px 0px;

    .author_name {
      font-weight: 700;
      text-align: center;
      display: block;
    }

    .author_lable {
      text-align: center;
      display: block;
      font-size: 13px;
      padding: 10px 0px;
    }
  }

  .inct_img {
    border-radius: 50%;
    display: block;
    margin: -35px auto 10px;
    background: $bgprim;
    border: 4px solid $textsecon;
  }
  .lms_list_con {
    margin: 25px 0 0;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .llms-lesson-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: $enroll;
    box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
    cursor: pointer;
    height: 90px;
    h5 {
      font-weight: 700;
    }

    p {
      margin-bottom: 0px;
    }
  }
}
