#banner {
  height: 90vh;
  /* background-color: red; */
  background-image: url("../assets//homepage//HolyQuranBannerBackground.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  /* flex-direction: column; */
}

#QuranCaligraphySection {
  width: 50vw;
  position: absolute;
  right: 0;
  /* background-color: red; */
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#QuranCaligraphySection > img {
  width: 70% !important;
}

#bannerContentSection {
  width: 50vw;
  position: absolute;
  left: 0;
  /* background-color: purple; */
  height: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bannerContentSection > h1 {
  text-align: center;
  /* margin: 1%; */
}
#bannerContentSection > h3 {
  text-align: center;
  /* margin: 1%; */
}
@media screen and (max-width: 760px) {
  #banner {
    display: block;
  }
  #QuranCaligraphySection {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
  #bannerContentSection {
    display: block;
    position: relative;
    width: 100vw;
    height: 50vh;
  }
  #bannerContentSection > h1 {
    text-align: center;
  }
  #bannerContentSection > h3 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;

  }
}

@media screen and (max-width: 640px) {
  #banner {
    display: block;
  }
  #QuranCaligraphySection {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
  }
  #bannerContentSection {
    display: block;
    position: relative;
    width: 100vw;
    height: 50vh;
  }
  #bannerContentSection > h1 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #bannerContentSection > h3 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    display: block;
  }
  #QuranCaligraphySection {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
  }
  #bannerContentSection {
    display: block;
    position: relative;
    width: 100vw;
    height: 50vh;
  }
  #bannerContentSection > h1 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    /* margin: 1%; */
  }
  #bannerContentSection > h3 {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
