nav{
    width:100%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    height: 10vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4CA4AB;
    position: fixed;
    top: 0%;
    z-index: 1;
}
#logoSection{
flex: 1;
height: 100%;
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
#logoSection>h2{
    text-align: left;
    margin-left: 1vw;

}
#NavButtonsSection{
flex: 3;
text-align: right
}
.NavButtons{
width: 13%;
height: 100%;
outline: none;
border: none;
background-color: inherit;
color: #4CA4AB;
cursor: pointer;
}
.NavButtons:hover{
    background-color: #54B5EC;
    color: #ffffff;
}
#userProfileButton{
    flex:1;
    overflow: hidden;
    height: inherit;
    outline: none;
    border: none;
    background-color: inherit;
    width: 50px;
    height: 50px;
    margin-left: 1%;
}
#userProfileButton>img{
    border-radius: 50px !important;
    width: 40px;
    height: 40px;    
}
@media screen and (max-width:860px){
    .NavButtonsSection{
        flex: 2;
    }
    .NavButtons{
        width: 20%;
    }
}

@media screen and (max-width:720px){
    .NavButtonsSection{
        flex: 5;
    }
    .NavButtons{
        display: none;
    }
}