@import "./sass/variables.scss";
@import "./sass/mixin.scss";



.section_bg {
  padding: 60px 0;
  background-color: $secbg;
}

.section_without {
  padding: 60px 0;
}

.sub_section {
  width: 1140px;
  max-width: 100%;
  padding: 0px 15px;
  margin: auto;
}
